{% extends "base.html" %}

{% block content %}

<div class="cars-container">

    {% for car in cars %}

    <div class="car-card">

        <h2>
            {{ car.brand }} {{ car.model }}
        </h2>

        <p>
            ₹{{ car.price_per_day }}/day
        </p>

        <p>
            {{ car.fuel_type }}
        </p>

        <p>
            {{ car.transmission }}
        </p>

        <p>
            Seats: {{ car.seats }}
        </p>

        <p>
            ⭐ {{ car.rating }}
        </p>
    <a href="/book/{{ car.car_id }}">
        <button
    onclick="window.location.href='/book/{{ car.car_id }}'">
    Rent Now
    </button>
    </a>

    </div>

    {% endfor %}

</div>

{% endblock %}