{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>
        Find Your Perfect Rental Car
    </h1>

    <p>
        Rent cars, earn money by listing your vehicle,
        and enjoy AI-powered recommendations.
    </p>

    <div class="hero-buttons">

        <button>
            Browse Cars
        </button>

        <button>
            🤖 AI Suggestion
        </button>

    </div>

</section>

<section class="features">

    <div class="card">
        🚗 Browse Cars
    </div>

    <div class="card">
        👑 Premium Membership
    </div>

    <div class="card">
        🤖 AI Recommendation
    </div>

    <div class="card">
        📞 24/7 Support
    </div>

</section>

{% endblock %}