{% extends "base.html" %}

{% block content %}

<div class="cars-container">

    {% for booking in bookings %}

    <div class="car-card">

        <h2>
            Booking #{{ booking.booking_id }}
        </h2>

        <p>
            
            Car: {{ car_dict[booking.car_id] }}

        </p>

        <p>
            Start: {{ booking.start_date }}
        </p>

        <p>
            End: {{ booking.end_date }}
        </p>

        <p>
            Status:
            {% if booking.status == "Approved" %}
                ✅ Approved
            {% elif booking.status == "Rejected" %}
                ❌ Rejected
            {% else %}
                ⏳ Pending
            {% endif %}
        </p>
       <button
            onclick="cancelBooking({{ booking.booking_id }})"
>
            Cancel Booking
       </button>

    </div>

    {% endfor %}

</div>
<script>

async function cancelBooking(bookingId){

    const response =
    await fetch(
        "/api/bookings/delete/" + bookingId,
        {
            method:"DELETE"
        }
    )

    const data =
    await response.json()

    alert(
        data.message
    )

    location.reload()

}

</script>

{% endblock %}